.profile {
  background: var(--primary-bg-color);
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2), 2px 1px 1px rgba(0, 0, 0, 0.14),
  2px 4px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--for-black-color);
}
.avatar {
  width: 50%;
  display: block;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  margin-top: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  align-items: center;
}
.name {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}
.tag {
  font-size: 24px;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.location {
  font-style: italic;
  font-size: 24px;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}
.stats {
  display: flex;
  padding: 18px;
  padding-inline-start: 0px;
  background-color: var(--bg-team);
}
.label {
  font-style: italic;
  font-size: 24px;
  color: var(--title-text-color);
  font-weight: bold;
  padding-bottom: 10px;
}
.quantity {
  font-size: 24px;
  color: var(--primary-text-color);
}
