.transactionHistory {
  padding: 10px;
  width: 512px;
  background: var(--for-black-color);
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2), 2px 1px 1px rgba(0, 0, 0, 0.14),
    2px 4px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
.thead {
  font-size: 24px;
  text-transform: uppercase;
  color: var(--for-black-color);
  background-color: var(--accent-color);
}

.item {
  text-align: center;
  font-size: 24px;
}
.item:nth-child(2n) {
  background-color: var(--primary-bg-color);
}
