/* @import-normalize; */

:root {
  /* колір вторинного тексту #757575 */
  --primary-text-color: #757575;
  /* колір основного тексту #212121 */
  --title-text-color: #212121;
  /* колір для темного фону */
  --for-black-color: #fff;
  --primary-bg-color: #e5e5e5;
  /* акцент  */
  --accent-color: rgb(5, 175, 175);
  /* колір темного фону */
  --bg-color: #2f303a;
  --bg-team: #f5f4fa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
